Django==1.11.23
argparse==1.2.1
bcrypt==1.0.2
boto==2.29.1
cffi==0.8.2
dj-database-url==0.3.0
dj-static==0.0.5
django-countries==2.1.2
django-storages==1.1.8
django-toolbelt==0.0.1
gunicorn==19.0.0
psycopg2==2.5.3
pycparser==2.10
pystache==0.5.4
static==1.0.2
wsgiref==0.1.2
