{% extends "pagebody.html" %}
{% load i18n %}

{% block loginarea %}{% endblock %}
{% block pagecontent %}
{% url 'app.views.register' as register_url %}
{% url 'django.contrib.auth.views.password_reset' as password_reset_url %}
  <p>
    {% blocktrans %}
    Enter your username and password below. If you do not yet have an
    account on this site, you will need to <a
    href="{{register_url}}">register</a> first.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
    Logging in uses cookies, so they need to be allowed for this site.
    {% endblocktrans %}
  </p>
  <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
    {% csrf_token %}
    <table class="form">
      {{ form.as_table }}
    </table>
    <input type="hidden" name="next" value="{% url 'app.views.index' %}"/>
      <button name="login" type="submit">{% trans "Log in" %}</button>
  </form>
  <p>
    <a href="{{password_reset_url}}">
      {% trans "Forgot your password?" %}
    </a>
  </p>
{% endblock %}
