{% extends "pagebody.html" %}
{% load i18n %}

{% block loginarea %}{% endblock %}
{% block pagecontent %}
<p>
  {% blocktrans %}
  Enter the email address you used to register on the site and you
  will receive an email containing a link to reset your password. If
  you do not remember the email address you
  used, <a href="mailto:{{ADMIN_EMAIL}}">contact the
  administrators</a>.
  {% endblocktrans %}
</p>
<form action="{% url 'django.contrib.auth.views.password_reset' %}" method="post">
  {% csrf_token %}
  <table class="form">
    {{ form.as_table }}
  </table>
  <button type="submit">
    {% trans "Request password reset" %}
  </button>
</form>
{% endblock %}
