{% extends "pagebody.html" %}
{% load i18n %}

{% block loginarea %}{% endblock %}
{% block pagecontent %}
{% url 'django.contrib.auth.views.password_reset' as password_reset_url %}
{% if validlink %}
<p>
  {% blocktrans %}
  Enter your new desired password in both fields, to verify you typed
  it correctly.
  {% endblocktrans %}
</p>
<form action="" method="post">
  {% csrf_token %}
  <table class="form">
    {{ form.as_table }}
  </table>
  <button type="submit">{% trans "Set new password" %}</button>
</form>
{% else %}
<p>
  {% blocktrans %}
  The password reset link you followed is invalid. It may have expired
  or been used already before.
  Please <a href="{{password_reset_url}}">request a new password 
  reset</a> if you still need it.
  {% endblocktrans %}
</p>
{% endif %}
{% endblock %}
