{% load i18n %}
{% url 'password_reset_confirm' uidb64=uid token=token as confirm_url %}
{% blocktrans with uname=user.username %}
A password reset for {{site_name}} was requested for you. If this
request was made by you, please visit
{{protocol}}://{{domain}}{{confirm_url}}
to reset your password. Your username corresponding to this email
address is {{uname}}.
{% endblocktrans %}
{% blocktrans %}
If you did not request a password reset, there is no need to do
anything. You can continue using the site normally.
{% endblocktrans %}
