.page-top {
    background-color: DeepSkyBlue;
    color: White;
}

.page-top h1 {
    text-align: center;
    padding: 0.3em 0 0.1em 0;
}

.page-top p {
    font-size: small;
}

.login-area {
    text-align: right;
    padding: 0 1.5em 0.5em 0;
}

.username {
    color: Black;
}

#navigation-bar {
    float: left;
    width: 13%;
    background-color: DeepSkyBlue;
}

#navigation-bar ul {
    list-style-type: none;
}

#page-content {
    margin-left: 15%;
}

.extra-information {
    font-size: x-small;
}

.invalid-input-note {
    font-size: xx-small;
    color: Crimson;
    padding: 0px 10px;
}

table.list {
    border-collapse: collapse;
    border: 1px solid Black;
}

table.list th, table.list td {
    border: 1px solid Black;
    padding: 0.1em 0.5em;
}

table.form th {
    text-align: left;
}
