.page-top h1 {
    text-align: center;
    padding: 0.3em 0 0.1em 0;
}

.page-top p {
    font-size: small;
}

.login-area {
    text-align: right;
    padding: 0 1.5em 0.5em 0;
}

.username {
    color: Black;
}

#navigation-bar {
    float: left;
    width: 13%;
}

#navigation-bar ul {
    list-style-type: none;
}

#navigation-bar li {
    margin: 10px 0px;
}

.page-top, #navigation-bar {
    background-color: DeepSkyBlue;
    color: White;
}

.page-top a:link, #navigation-bar a:link {
    color: Blue;
}

.page-top a:visited, #navigation-bar a:visited {
    color: Blue;
}

.login-area span, .login-area a {
    margin: 0px 3px;
}

#page-content {
    margin-left: 15%;
}

.extra-information {
    font-size: small;
}

.invalid-input-note {
    font-size: x-small;
    color: Crimson;
    padding: 0px 10px;
}

table.list {
    border-collapse: collapse;
    border: 1px solid Black;
}

table.list th, table.list td {
    border: 1px solid Black;
    padding: 0.1em 0.5em;
}

table.form th {
    text-align: left;
}
