{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>{% block pagetitle %}Penguz{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'penguz.css' %}" type="text/css">
    <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{% static 'penguz.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
      {% block pagescript %}
      {% endblock %}
    </script>
  </head>

  <body>
    {% block pagebody %}
    {% endblock %}
  </body>
</html>
