{% extends "contest.html" %}
{% load i18n %}

{% block password %}{{contest.password}}{% endblock %}

{% block content %}
<hr>
<form action="/answer/{{contest.id}}/" method="post">
    {% csrf_token %}
    <table class="form" id="answer_submission_form">
      {{ form.as_table }}
    </table>
    <button name="answer" type="submit">{% trans "Submit answers" %}</button>
</form>
{% endblock %}

{% block pagescript %}
var patterns = {
    {% for pattern in patterns %}
    "id_answer_{{pattern.id}}": "{{pattern.solution_pattern}}",
    {% endfor %}
};
$(function() {
    fi.iki.ashar.Penguz.startRemainingUpdates((new Date()).getTime());
    fi.iki.ashar.Penguz.insertFieldCheckers(patterns);
});
{% endblock %}
