<h1>{{contest.name}}</h1>
<p>{{contest.description}}</p>
<hr>
Contest period starts: {{contest.start_time}}<br>
Contest period ends: {{contest.end_time}}<br>
<hr>
	  {% if contest.instruction_booklet %}
	  <a href="{{contest.instruction_booklet.url}}">Instructions</a>
	  {% else %}
	  Instructions not yet available
	  {% endif %}<br>
	  {% if contest.contest_booklet %}
	  <a href="{{contest.contest_booklet.url}}">Contest booklet</a>
	  {% else %}
	  Contest booklet not yet available
	  {% endif %}<br>
Password: {% block password %}Will be revealed when you start{% endblock %}<br>
Time remaining: {% block time %} <span
	    id="min-remaining">{{contest.duration}}</span>:<span
	    id="sec-remaining">00</span> {% endblock %}
<hr>
{% block content %}{% endblock %}
