{% extends "pagebody.html" %}
{% load i18n %}

{% block pagecontent %}
  <h2>{{contest.name}}</h2>
  <p>{{contest.description}}</p>
  <hr>
  <p class="extra-information">
    {% blocktrans %}
    The current server time is provided to help determine the exact
    hours of the contest period. It is not updated constantly, only on
    page refresh.
    {% endblocktrans %}
  </p>
  <p>
  {% trans "Contest period starts" %}: {{contest.start_time}}<br>
  {% trans "Contest period ends" %}: {{contest.end_time}}<br>
  {% trans "Current server time" %}: {{now}}
  </p>
  <hr>
  {% if contest.instruction_booklet %}
  <a href="{{contest.instruction_booklet.url}}">{% trans "Instructions" %}</a>
  {% else %}
  {% trans "Instructions not yet available" %}
  {% endif %}<br>
  {% if contest.contest_booklet %}
  <a href="{{contest.contest_booklet.url}}">{% trans "Contest booklet" %}</a>
  {% else %}
  {% trans "Contest booklet not yet available" %}
  {% endif %}<br>
  {% trans "Password" %}:
	      {% block password %}
	      {% trans "Will be revealed when you start" %}
	      {% endblock %}<br>
  {% trans "Time remaining" %}: {% block time %} <span
	    id="min-remaining">{{minutes}}</span>:<span
	    id="sec-remaining">{{seconds}}</span> {% endblock %}
{% block content %}{% endblock %}
{% endblock %}
