{% extends "pagebody.html" %}
{% load i18n %}

{% block pagecontent %}
  <p>
    {% blocktrans %}
    Enter the general new contest information here. The description,
    booklets, booklet password, and start and end times can be edited
    afterwards, other information will remain as you enter it now.
    Start and end times are entered in the format <tt>year-month-day
    hour:minute</tt>. If you wish participants from one country to be
    shown separately in the results (e.g., for national
    championships), set the country, otherwise leave it blank.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
    The start and end times are determined based on the server time.
    The current server time is {{now}}.
    {% endblocktrans %}
  </p>
  <form action="/create" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="form">
      {{ form.as_table }}
    </table>
    <button name="create" type="submit">{% trans "Create contest" %}</button>
  </form>
{% endblock %}
