{% extends "pagebody.html" %}
{% load i18n %}

{% block pagecontent %}
{% url 'app.views.help' as help_url %}
{% url 'django.contrib.auth.views.login' as login_url %}
  <h2>{% trans "Available contests" %}</h2>
  <p>
    {% blocktrans %}
    Welcome to this puzzle contest site. All the contests available on
    this site are listed below. See the <a href="{{help_url}}">Help
    page</a> for instructions on participating in the contests.
    {% endblocktrans %}
    {% if not user.is_authenticated %}
    {% blocktrans %}
    You need to be <a href="{{login_url}}">logged in</a> to
    participate in the contests.
    {% endblocktrans %}
    {% endif %}
  </p>
    {% if not running_contest_list and not future_contest_list and not past_contest_list %}
  <hr>
    <p>
    {% blocktrans %}
    There are currently no contests on this site.
    {% endblocktrans %}
    </p>
    {% endif %}
{% if running_contest_list %}
  <h3>{% trans "Current contests" %}</h3>
  <dl>
    {% for contest in running_contest_list %}
    <dt><a href="/contest/{{contest.id}}/{{contest.slug}}">{{ contest.name }}</a></dt>
    <dd>
      <p>
	{{ contest.description }}
      </p>
      <p>
	{% trans "Contest period ends" %}: {{contest.end_time}}
      </p>
    </dd>
    {% endfor %}
  </dl>
{% endif %}
{% if future_contest_list %}
  <h3>{% trans "Upcoming contests" %}</h3>
  <dl>
    {% for contest in future_contest_list %}
    <dt><a href="/contest/{{contest.id}}/{{contest.slug}}">{{ contest.name }}</a></dt>
    <dd>
      <p>
	{{ contest.description }}
      </p>
      <p>
	{% trans "Contest period starts" %}: {{contest.start_time}}
      </p>
    </dd>
    {% endfor %}
  </dl>
{% endif %}
{% if past_contest_list %}
  <h3>{% trans "Past contests" %}</h3>
  <dl>
    {% for contest in past_contest_list %}
    <dt><a href="/contest/{{contest.id}}/{{contest.slug}}">{{ contest.name }}</a></dt>
    <dd>
      <p>
	{{ contest.description }}
      </p>
    </dd>
    {% endfor %}
  </dl>
{% endif %}
{% endblock %}
