{% extends "base.html" %}
{% load i18n %}

{% block pagebody %}
  <div class="page-top">
  <h1>{% block pagetitle %}Penguz{% endblock %}</h1>

  {% block loginarea %}
  <p class="login-area">
    {% if user.is_authenticated %}
    <span class="username">{{ user.username }}</span>
    <a href="{% url django.contrib.auth.views.logout %}">{% trans "Log out" %}</a>
    {% else %}
    <a href="{% url django.contrib.auth.views.login %}">{% trans "Log in" %}</a>
    <a href="{% url app.views.register %}">{% trans "Register" %}</a>
    {% endif %}
  </p>
  {% endblock %}
  </div>
  <hr>

    <div id="container">
      <div id="navigation-bar">
	<ul>
	  <li><a href="{% url app.views.index %}">{% trans "Home" %}</a></li>
	  {% if perms.app.add_contest %}
	  <li><a href="/create">{% trans "Create a new contest" %}</a></li>
	  {% endif %}
	</ul>
      </div>
      <div id="page-content">
	{% block pagecontent %}
	{% endblock %}
      </div>
    </div>

  <hr>
    <p class="extra-information">
      Powered by <a
      href="https://github.com/asharov/penguz">Penguz</a> and <a
      href="https://www.djangoproject.com">Django</a>.
    </p>
{% endblock %}
